.nav-title h3 {
    margin-right: 8px;
}

.nav-title img {
    width: 30px;
    margin-top: 4px;
    position: absolute;
}

.searchbar-btn {
    display: inline-block; // FONCTIONNE PAS
}

#register,
#loggedin,
#play,
#quiz,
#quiz-results {
    display: none;
}

#login-button,
#register-button {
    float: left;
}

#show-register-button,
#show-login-button {
    float: right;
}